* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.container button {
  height: 100%;
}
.container h2,
.container button {
  border: 1px solid blacks;
}
.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  border: 1px solid black;
  gap: 10px;
  justify-content: space-between;
}
